<h1>Detail User</h1>
<p>
    <h5>Username</h5>
    <%= @users.username %>
</p>
<p>
    <h5>Password</h5>
    <%= @users.password %>
</p>
<p>
    <h5>Username</h5>
    <%= @users.alamat %>
</p>
<%= link_to 'back', users_path %>