<div id = "wrapper">
    <div id = "header">
        <p>
            <%= link_to "Log in", login_new_path %> | <%= link_to "Sig up", new_user_path %>
        </p>
        <h1>
            SELAMAT DATANG DI TOKO OLEH - OLEH SINDANG LARIS BANDUNG
        </h1>
    </div>

    <div id = "nav">
        <p>This is navbar</p>
    </div>

    <div id = "content">
        <p>This is content</p>
    </div>

    <div id = "footer">
        <p>This is footer</p>
    </div>
</div>
